.clear{
	clear      : both;
	overflow   : hidden;
	width      : 0 !important;
	height     : 0 !important;
	min-height : 0 !important;
	min-width  : 0 !important;
	border     : 0 none !important;
	float      : none !important;
}

.container{
	width            : 950px;
	background-color : none;
	margin           : 0 auto;
	padding-top      : 1px;
}

div[data-iostg=true] {
	background-color: rgb(0,92,146);
	width: 40px;
	height: 20px;
	padding: 5px;
}

div[data-iostg=true] span.toggle{
	width: 20px;
	height: 20px;
	border-radius: 100%;
	background-color: white;
}